target/
*.class
*.jar
!.mvn/wrapper/*.jar
.mvn/
.idea/
*.iml
.vscode/
.DS_Store
dependency-check-report.*
trivy-report.*
gitleaks-report.json
.env
*.pem
lambda-package/
falco_remediation.zip
jenkins-kubeconfig.yaml
venv/
sbom-*.json

**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
terraform/bootstrap/terraform.tfstate*
.terraform-outputs.json


infracost-report.txt
.ansible/
.terraform.lock.hcl
__pycache__/
.terraform-outputs.json
