target/
*.class
*.jar
!.mvn/wrapper/*.jar
.mvn/
.idea/
*.iml
.vscode/
.DS_Store
dependency-check-report.*
trivy-report.*
gitleaks-report.json
.env
*.pem
lambda-package/
falco_remediation.zip
jenkins-kubeconfig.yaml
venv/
sbom-*.json

**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
terraform/bootstrap/terraform.tfstate*
.terraform-outputs.json

.vault_pass
ansible/group_vars/all/vault.yml
.secrets/
jenkins/casc.yaml
docker-compose.yml

infracost-report.txt
