jenkins:
  systemMessage: devsecops pipeline controller
  numExecutors: 2
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "{{ jenkins_admin_user }}"
          password: "{{ jenkins_admin_password }}"
  authorizationStrategy:
    globalMatrix:
      entries:
        - user:
            name: "{{ jenkins_admin_user }}"
            permissions:
              - "Overall/Administer"
        - group:
            name: "authenticated"
            permissions:
              - "Overall/Read"

unclassified:
  location:
    adminAddress: devsecops-pipeline@local
    url: http://jenkins:8080/
  sonarGlobalConfiguration:
    buildWrapperEnabled: true
    installations:
      - name: SonarQube
        serverUrl: http://sonarqube:9000
        credentialsId: sonar-token

credentials:
  system:
    domainCredentials:
      - credentials:
          - string:
              scope: GLOBAL
              id: sonar-token
              secret: "{{ sonar_token }}"
              description: sonar-token
          - string:
              scope: GLOBAL
              id: snyk-token
              secret: "{{ snyk_token }}"
              description: snyk-token
          - string:
              scope: GLOBAL
              id: aws-account-id
              secret: "{{ aws_account_id }}"
              description: aws-account-id
          - aws:
              scope: GLOBAL
              id: aws-jenkins-creds
              accessKey: "{{ jenkins_access_key_id }}"
              secretKey: "{{ jenkins_secret_access_key }}"
              description: aws-jenkins-creds

jobs:
  - script: |
      pipelineJob('devsecops-pipeline') {
        definition {
          cpsScm {
            scm {
              git {
                remote {
                  url('https://github.com/UdayKumarChunduru/devsecops-cicd-pipeline.git')
                }
                branch('*/terraform-aws')
              }
            }
            scriptPath('Jenkinsfile')
          }
        }
      }
